<!DOCTYPE html>
<html lang="en" ng-app="lesson" ng-controller="lesson3">
<head>
    <meta charset="UTF-8">
    <title>组合绑定</title>
</head>
<body>
<ul>
    <li><input ng-model="xing" type="text"></li>
    <li><input ng-model="ming" type="text"></li>
    <h1>Hello {{xing || ''}}{{ ming ||''}}</h1>
    <h2>Hello {{FullName}}</h2>

</ul>
</body>
<script src="bower_components/angular/angular.min.js"></script>
<script>
    var app = angular.module("lesson",[]);
    app.controller("lesson3",function($scope){
        $scope.xing = '';
        $scope.ming = '';
        $scope.$watch('xing',function(){
            $scope.FullName = $scope.xing + ''+$scope.ming;
        })
        $scope.$watch('ming',function(){
            $scope.FullName = $scope.xing + ''+$scope.ming;
        })

    })
</script>
</html>