<!DOCTYPE html>
<html lang="en" ng-app="lesson" ng-controller="lesson3">
<link href="bower_components/angular/angular-csp.css">
<head>
    <meta charset="UTF-8">
    <title>表格的对象排序</title>
</head>
<body>
<ul>
    <li><input ng-model="xing" type="text"></li>
    <li><input ng-model="ming" type="text"></li>
    <h1>Hello {{xing || ''}}{{ ming ||''}}</h1>
    <h2>Hello {{FullName}}</h2>

</ul>

<ul >
    <li ng-repeat="test in UserNameList ">{{test}}</li>
</ul>
<table>
        <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>星座</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in UserEntityList | orderBy:'age':true">
                <td>{{$index+1}}</td>
                <td>{{x.name}}</td>
                <td>{{x.age}}</td>
                <td>{{x.xingzuo}}</td>



            </tr>
        </tbody>
</table>
</body>
<script src="bower_components/angular/angular.min.js"></script>
<script>
    var app = angular.module("lesson",[]);
    app.controller("lesson3",function($scope){
        $scope.xing = '';
        $scope.ming = '';
        $scope.$watch('xing',function(){
            $scope.FullName = $scope.xing + ''+$scope.ming;
        })
        $scope.$watch('ming',function(){
            $scope.FullName = $scope.xing + ''+$scope.ming;
        })
        $scope.UserNameList = ['longlong','qingqing','yuanyuan'];
        $scope.UserInfoList = {
                one:[['龙龙',28,'天枰座'],['姫晴',27,'天枰座']],


        }
        $scope.UserEntityList = [
            {'name':'龙龙', 'age':89, 'xingzuo':"水平"},
            {'name':'龙龙', 'age':28, 'xingzuo':"水平"},
            {'name':'龙龙', 'age':1, 'xingzuo':"水平"},
        ]
    })
</script>
</html>